<div class="inventory-container">
     <h1>Library Inventory</h1>

     <div class="book-list">
          <div class="book-item" *ngFor="let book of books">
               <div class="book-image">
                    <img [src]="book.imageUrl" [alt]="book.title">
               </div>
               <div class="book-info">
                    <h2 class="book-title">{{book.title}}</h2>
                    <p class="book-author">by {{book.author}}</p>
               </div>
               <div class="book-status">
                    <p class="book-inventory">In Stock: <span
                              [class.low-stock]="book.inventory < 5">{{book.inventory}}</span></p>
                    <p class="book-price">${{book.price.toFixed(2)}}</p>
               </div>
          </div>
     </div>
</div>
